{% extends 'layoutApp.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block main %}


{% if user.rol =='entrenador' or user.rol == 'admin' %}

{{ form_start(form, {'attr':{'class':'border border-light p-5'} }) }}
<h1 class="mb-5 text-center">Crear sesión de entrenamiento</h1>
<div class="row">
    <div class="col-12 col-md-4">
        <label for="">Fecha *</label>
        {{ form_widget(form.fecha, {'attr':{'class':'mb-4'} }) }}
    </div>

    <div class="col-12 col-md-4">
        <label for="">Hora de inicio</label>
        {{ form_widget(form.horaInicio, {'attr':{'class':'mb-4'} }) }}
    </div>

    <div class="col-12 col-md-4">
        <label for="">Hora de finalización</label>
        {{ form_widget(form.horaFinal, {'attr':{'class':'mb-4'} }) }}
    </div>
</div>
<button class="btn app-button-func1 btn-block">{{ button_label|default('Añadir') }}</button>

{{ form_end(form) }}

{% endif %}

<div class="table-responsive">
    <div id='calendar'>

    </div>
</div>

{% endblock %}