{% extends 'base.html.twig' %}

{% block title %}Marcas{% endblock %}

{% block body %}
    <h1>Marcas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marca.id }}</td>
            </tr>
            <tr>
                <th>NombreComp</th>
                <td>{{ marca.nombreComp }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ marca.fecha ? marca.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ marca.marca }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('marcas_index') }}">back to list</a>

    <a href="{{ path('marcas_edit', {'id': marca.id}) }}">edit</a>

    {{ include('marcas/_delete_form.html.twig') }}
{% endblock %}
