{% extends 'layout.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block main %}

<div class="background-equipo">

<div class="jumbotron-fluid equipo d-flex justify-content-center align-items-center">

		<div class="container-fluid">
	
			<h1 class="text-uppercase text-bold">equipo</h1>
	
		</div>
	
	</div>
	

	<div class="container">
	<hr class="separador-top">

		<div class="titulo-seccion">
			Junta Directiva
		</div>
			<div class="row row-equipo justify-content-center">

				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>


			</div>
		


		<div class="titulo-seccion">
			Entrenadores
		</div>

		
			<div class="row row-equipo justify-content-center">

				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>

			</div>




		<div class="titulo-seccion">
			Nadadores
		</div>


			<div class="row row-equipo justify-content-center">

				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>


				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('image.jpg', 'fotos')}}" />
						<p class="img__title">xxxx</p>
						<p class="img__description">descrip</p>
					</div>
				</div>
		</div>

		<hr class="separador-bottom">

	</div>

</div>
	
{% endblock %}

