{% extends 'layout.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block main %}

<div class="jumbotron-fluid equipo d-flex justify-content-center align-items-center">

		<div class="container-fluid">
	
			<h1 class="text-uppercase text-bold">equipo</h1>
	
		</div>
	
	</div>
	

	<div class="background-equipo">
	<hr class="separador-top">

		<div class="titulo-seccion">
			Junta Directiva
		</div>

		<div class="container">
			<div class="row row-equipo justify-content-center">

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo1.jpg', 'fotos')}}" />
						<p class="img__title">PewDiePie</p>
						<p class="img__description">Youtuber de exito.
						<br>Desde el año catapum.</p>
					</div>
				</div>

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo2.jpg', 'fotos')}}" />
						<p class="img__title">Willyrex</p>
						<p class="img__description">Youtuber de exito, pero menos.
						<br>De mi sagrada ESPAÑITA.</p>
					</div>
				</div>


			</div>
		</div>


		<div class="titulo-seccion">
			Entrenadores
		</div>

		<div class="container">
			<div class="row row-equipo justify-content-center">

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo3.jpg', 'fotos')}}" />
						<p class="img__title">Mariano Rajoy</p>
						<p class="img__description">Ex-Presidente.
						<br>«Cuanto peor mejor para todos y cuanto peor para todos mejor, mejor para mí, el suyo, beneficio político.»</p>
					</div>
				</div>

			</div>
		</div>



		<div class="titulo-seccion">
			Nadadores
		</div>

		<div class="container">
			<div class="row row-equipo justify-content-center">

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo4.jpg', 'fotos')}}" />
						<p class="img__title">Darkk Mane</p>
						<p class="img__description">Youtuber no tan de exito.
						<br>Pero es el puto amo.</p>
					</div>
				</div>

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo5.jpg', 'fotos')}}" />
						<p class="img__title">Pokachu</p>
						<p class="img__description">Pokemon famoso.
						<br>Electrifica el agua para paralizar a sus rivales y ganar.</p>
					</div>
				</div>

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo6.jpg', 'fotos')}}" />
						<p class="img__title">Shrek</p>
						<p class="img__description">La leyenda</p>
					</div>
				</div>

			</div>
			<div class="row row-equipo justify-content-center">

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo7.jpg', 'fotos')}}" />
						<p class="img__title">Joseph Joestar</p>
						<p class="img__description">Holy shit! Is thas a Motherfucking JoJo reference?
						<br>Yes.</p>
					</div>
				</div>

				<div class="col-4">
					<div class="img__wrap">
						<img class="img__img" src="{{ asset ('foto-equipo8.png', 'fotos')}}" />
						<p class="img__title">Docker Hub</p>
						<p class="img__description">El rival aferrimo de Aitor.</p>
					</div>
				</div>

			</div>
		</div>

		<hr class="separador-bottom">

	</div>
	
{% endblock %}

