{% extends 'layoutApp.html.twig' %}

{% block title %}Fisico{% endblock %}

{% block main %}
<div class="col-12">
    <canvas id="lineChartAltura"></canvas>
</div>

<div class="col-12">
    <canvas id="lineChartPeso"></canvas>
</div>



{{ form_start(form, {'attr':{'class':'border border-light p-5'} }) }}


<div class="row">
    {{ form_widget(form.dni, {'attr':{'hidden':''} , value : user.dni} ) }}
</div>

<div class="row">
    <label for="">Altura</label>
    {{ form_widget(form.altura, {'attr':{'class':'form-control mb-4 ' } } ) }}
</div>

<div class="row">
    <label for="">Peso</label>
    {{ form_widget(form.peso, {'attr':{'class':'form-control mb-4 ' } } ) }}
</div>

<div class="row">
    <label class="mr-3" for="">Fecha</label>
    {{ form_widget(form.fechaInserc, {'attr':{'class':'' } } ) }}
</div>

<button class="btn app-button-func2 btn-block mt-3">{{ button_label|default('Añadir') }}</button>

{{ form_end(form) }}

<table class="mb-3" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="app-th">Fecha
            </th>
            <th class="app-th">Altura
            </th>
            <th class="app-th">Peso
            </th>
            <th class="app-th">Acciones
            </th>
        </tr>
    </thead>
    <tbody>

        {% for f in fisicos %}


        <tr class="app-tr">
            <td class="app-td">{{ f.fechaInserc|date('d-m-Y') }}</td>

            <td class="app-td">{{ f.altura }}</td>

            <td class="app-td">{{ f.peso }}</td>

            <td class="app-td">
                <button type="button" class="app-button-func2"><a class="app-href" href="{{ path('app_fisico_edit', {'id': f.id}) }}">Editar</a></button>
                <form method="post" action="{{ path('app_fisico_delete', {'id': f.id}) }}"
                    onsubmit="return confirm('Estás seguro/a de borrarlo?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ f.id) }}">
                    <button class="app-button-func2">Eliminar</button>
                </form>
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}
