{% extends "base.html.twig" %}

{% block body %}
<header class="header">
	<nav class="navbar navbar-expand-md nav nav-justified nav-pills nav-tabs fixed-top">
		<a class="navbar-brand pl-lg-5 pl-md-4 pl-sm-3 mr-lg-3 mr-md-2 mr-sm-0" href="{{ path('eventos') }}">
			<img src="{{ asset ('logo.jpg', 'logos')}}" height="50" alt="mdb logo">
			<a class="titulo-fenixmanises">FENIX MANISES</a>
		</a>
		<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto pr-0 pr-lg-5 pr-md-4 pr-sm-0">
				{% set currentPath = app.request.attributes.get('_route') %}
				<li class="nav-item active">
					<a class="nav-link nav-item text-white text-uppercase font-weight-bold {% if currentPath == 'main' %} active{% endif %}"
						href="{{ path('main') }}">Actividades</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white text-uppercase font-weight-bold {% if currentPath == 'equipo' %} active{% endif %}"
						href="{{ path('equipo') }}">Equipo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white text-uppercase font-weight-bold {% if currentPath == 'eventos' %} active{% endif %}"
						href="{{ path('eventos') }}">Eventos</a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div id="wrap">
	<main>
		{% block main %}{% endblock %}
	</main>
</div>

<footer class="footer absolute-bottom pt-4">

	<div class="container-fluid text-center text-md-left principal pb-3">

		<div class="row">

			<div class="col-md-7 mt-md-0 mt-3 pl-4 ">

				<div class="row d-flex justify-content-center align-items-center">

					<div class="col-5">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d769.7452344481853!2d-0.4660964707488904!3d39.49234503366108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd605aa39604b26b%3A0x43c9142489ee4d85!2sPiscina%20Cubierta%20De%20Manises!5e0!3m2!1ses!2ses!4v1581353658750!5m2!1ses!2ses"
							width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>

					<div class="col-7">
						<ul class="list-unstyled">
							<li>
								<strong>Dirección</strong> <br>
								<a>Carrer de les Roses, 22 <br> 46940 Manises, Valencia</a>

							</li>
							<li class="my-2">
								<strong>Email</strong>
								<a>cnfenixmanises@gmail.com</a>
							</li>
							<li>
								<strong>Teléfono</strong>
								<a>961 84 92 44</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-5 mb-md-0 my-3 d-flex justify-content-center align-items-center rrss">
				<a href="https://www.facebook.com/clubnatacionfenixmanises/?locale2=es_ES" target="_blank"><i
						class="fab fa-facebook fa-2x" style="color:white"></i></a>
				<a href="https://twitter.com/natacionfenix" target="_blank"><i class="fab fa-twitter fa-2x px-4"
						style="color:white"></i></a>
				<a href="https://www.instagram.com/cnfenixmanises/" target="_blank"><i class="fab fa-instagram fa-2x"
						style="color:white"></i></a>
			</div>
			<div class="container-fluid text-center text-md-center principal pb-3">
			<a href="{{ path('app_login') }}" target="_blank">
			<img src="{{ asset ('logoR.png', 'logos')}}" height="50" alt="mdb logo"></a>
			</div>

		</div>
	</div>

</footer>
{% endblock %}