{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid h-100">
	<div class="row h-100">

		<div class="col-12 p-0">
			<header class="header">
				<nav class="navbar nav navbar-expand-lg">
					<div class="row w-100">

						<div class="col-12 col-lg-10 d-flex align-items-center">
							<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
								data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>


							<a class="navbar-brand pl-lg-5 pl-md-4 pl-sm-3 mr-lg-3 mr-md-2 mr-sm-0"
								href="{{ path('main_index') }}">
								<img src="{{ asset ('logoR.png', 'logos')}}" height="70" alt="mdb logo">
								<h2 id="app">FENIX MANISES</h2>
							</a>


						</div>
						<div class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-center">
							<h5>Hola {{ user.nombre }}</h5>
						</div>
					</div>
			</header>
		</div>

		<div class="col-12 col-md-12 col-lg-2 nav-vertical navbar-collapse text-center text-lg-left collapse show"
			id="navbarSupportedContent">

			<ul class="nav flex-column p-4">

				<li class="nav-item">
					<a class="nav-link" href="{{path('app_index')}}">Inicio</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{path('app_noticias')}}">Noticias</a>
				</li>

				{% if user.rol == 'usuario' or user.rol == 'admin'  or user.rol == 'entrenador' %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_fisico') }}">Físico</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_marcas') }}">Marcas</a>
				</li>
				{% endif %}

				{% if user.rol == 'entrenador' or user.rol == 'junta' or user.rol == 'admin' %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_gestion_usuarios') }}">Gestión Usuarios</a>
				</li>
				{% endif %}

				{% if user.rol == 'junta' or user.rol == 'admin'%}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_gestion_web') }}">Gestión Web</a>
				</li>
				{% endif %}

				{% if user.rol != 'parental'%}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_usuarios_edit', {'dni': user.dni}) }}">Editar perfil</a>
				</li>
				{% endif %}

				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesión</a>
				</li>
			</ul>

		</div>

		<div class="col-12 col-md-12 col-lg-10 d-flex justify-content-center mb-5" id="wrap">
			<main class="container-fluid">
				{% block main %}{% endblock %}
			</main>
		</div>

	</div>

</div>

{% endblock %}