{% extends 'layoutApp.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block main %}
    <h1 class="app-title">Perfil de usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Dni</th>
                <td>{{ usuario.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apelllidos</th>
                <td>{{ usuario.apelllidos }}</td>
            </tr>
            {% if usuario.foto != null %}
            <tr>
                <th>Foto</th>
                <td>
                    
                    <img src="{{ asset (usuario.foto, 'fotos')}}" width="100px">
                   
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Fecha de nacimiento</th>
                <td>{{ usuario.fechaNac ? usuario.fechaNac|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button class="atras-button">
        <a class="atras-href" href="{{ path('app_gestion_usuarios') }}">❮ Volver</a>
    </button>

    <button class="app-button">
        <a class="app-button-href" href="{{ path('app_usuarios_edit', {'dni': usuario.dni}) }}">Editar</a>
    </button>

    {{ include('usuarios/_delete_form.html.twig') }}
{% endblock %}
