{% extends 'layoutApp.html.twig' %}

{% block title %}New Usuarios{% endblock %}

{% block main %}
<a href="{{ path('app_gestion_usuarios') }}">Volver</a>


{{ form_start(form, {'attr':{'class':'border border-light p-5'} }) }}
<h1 class="mb-5 text-center">Crear Usuario</h1>
    <label for="">DNI</label>
    {{ form_widget(form.dni, {'attr':{'class':'form-control mb-4'} }) }}
    <label for="">Password</label>
    {{ form_widget(form.pass, {'attr':{'class':'form-control validate mb-4'} }) }}
    <label for="">Nombre</label>
    {{ form_widget(form.nombre, {'attr':{'class':'form-control mb-4'} }) }}
    <label for="">Apellidos</label>
    {{ form_widget(form.apelllidos, {'attr':{'class':'form-control mb-4'} }) }}
    <label for="">Rol</label>
    {{ form_widget(form.rol, {'attr':{'class':'form-control mb-4'} }) }}
    <label for="">Foto</label>
    {{ form_widget(form.foto, {'attr':{'class':'form-control mb-4'} }) }}
    <label for="">Fecha de nacimiento</label>
    {{ form_widget(form.fechaNac, {'attr':{'class':'form-control mb-4'} }) }}

    <button class="btn btn-info btn-block">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

    
{% endblock %}
