{% extends 'layoutApp.html.twig' %}

{% block title %}Sesion {{sesion.fecha|date('Y-m-d')}}{% endblock %}

{% block main %}

<button class="atras-button">
    <a class="atras-href" href="{{ path('app_index') }}">❮ Volver</a>
</button>

    <h1>Sesion del dia {{sesion.fecha|date('Y-m-d')}}</h1>

    {% if user.rol =='entrenador' or user.rol == 'admin' %}
    <button type="button" class="app-button-func2"><a class="app-href" href="{{ path('app_sesion_delete', {'id': sesion.id}) }}">Eliminar</a></button>
    {% endif %}
    <h5>
        {% if sesion.horaInicio != null %}
        Hora de inicio:{{sesion.horaInicio|date('H:i')}}
        {% endif %}
         <br> 
        {% if sesion.horaFinal != null %}
        Hora de finalización:{{sesion.horaFinal|date('H:i')}}
        {% endif %}
    </h5>


    {% if user.rol =='entrenador' or user.rol == 'admin' %}

    {{ form_start(form, {'attr':{'class':'border border-light p-5'} }) }}
    <h3 class="mb-5 text-center">Añadir ejercicios</h3>
        <div class="row">
            <label for="">Tipo *</label>
            {{ form_widget(form.tipos, {'attr':{'class':'form-control mb-4'} }) }}
        </div>
    
        <div class="row">
            <label for="">Estilo</label>
            {{ form_widget(form.estilo, {'attr':{'class':'form-control mb-4'} }) }}
        </div>
    
        <div class="row">
            <label for="">Series</label>
            {{ form_widget(form.series, {'attr':{'class':'form-control mb-4'} }) }}
            <label for="">Metros</label>
            {{ form_widget(form.metros, {'attr':{'class':'form-control mb-4'} }) }}
        </div>
        <div class="row">
            <label for="">Descripción</label>
            {{ form_widget(form.descripcion, {'attr':{'class':'form-control mb-4'} }) }}
        </div>

    <button class="btn btn-info btn-block">{{ button_label|default('Modificar') }}</button>
    
    {{ form_end(form) }}
    
    {% endif %}


    <table class="app-table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="app-th">Tipo
                </th>
                <th class="app-th">Estilo
                </th>
                <th class="app-th">Series
                </th>
                <th class="app-th">Metros
                </th>
                <th class="app-th">Descripcion
                </th>
                {% if user.rol =='entrenador' or user.rol == 'admin' %}
                <th class="app-th">Acciones
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

            {% for entrenamiento in sesion.entrenamientos %}
    
            <tr class="app-tr">
                <td class="app-td">{{ entrenamiento.tipos.tipo }}</td>
                <td class="app-td">
                    {% if entrenamiento.estilo != null %}
                    {{ entrenamiento.estilo.nombre }}
                    {% endif %}
                </td>
                <td class="app-td">
                    {% if entrenamiento.series != null %}
                    {{ entrenamiento.series }}
                    {% endif %}
                </td>
                <td class="app-td">
                    {% if entrenamiento.metros != null %}
                    {{ entrenamiento.metros.distancia }}
                    {% endif %}
                </td>
                <td class="app-td">
                    {% if entrenamiento.descripcion != null %}
                    {{ entrenamiento.descripcion }}
                    {% endif %}
                </td>
                {% if user.rol =='entrenador' or user.rol == 'admin' %}
                <td class="app-td">
                    <button type="button" class="app-button-func2"><a class="app-href" href="{{ path('app_entrenamiento_delete', {'id': entrenamiento.id}) }}">Eliminar</a></button>
                </td>
                {% endif %}
            </tr>

            {% else %}
            {% endfor %}
    
        </tbody>
    
    </table>

{% endblock %}
