{% extends 'layout.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block main %}
<div class="container">
	<nav class="my-3">
		<div class="nav nav-tabs nav-justified header-eventos row m-0" id="nav-tab" role="tablist">

			<a class="nav-item d-flex align-items-center justify-content-center active" id="nav-auto-tab"
				data-toggle="tab" href="#nav-auto" role="tab" aria-controls="nav-auto"
				aria-selected="true">Autonomica</a>

			<a class="nav-item d-flex align-items-center justify-content-center" id="nav-val-tab" data-toggle="tab"
				href="#nav-val" role="tab" aria-controls="nav-val" aria-selected="false">Valencia</a>

		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-auto" role="tabpanel" aria-labelledby="nav-auto-tab">
			{% set num = 0 %}
			{% for eventAuto in dataAuto %}

			<div class="card eventos my-2">

				<div class="card-header text-left d-flex row m-0" data-toggle="collapse" href="#A{{num}}" role="button"
					aria-expanded="false" aria-controls="A{{num}}">

					<div class="float-left col-md-6 col-12">
						<i class="fas fa-calendar"></i>
						{{eventAuto.getFechas}}
					</div>

					<div class="text-md-right text-left ml-auto col-md-6 col-12">
						<i class="fas fa-trophy"></i>
						{{eventAuto.getCompeticion}}
					</div>

				</div>

				<div class="card-body collapse multi-collapse" id="A{{num}}">

					<div class="row text-left">

						{% if eventAuto.getCategoria|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">
							<p class="card-text text-md-center">
								<strong>
									Categoria
								</strong>
								{{eventAuto.getCategoria}}</p>
						</div>
						{% endif %}

						{% if eventAuto.getLocalidad|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">
							<p class="card-text text-md-center">
								<strong>
									Localidad
								</strong>
								{{eventAuto.getLocalidad}}</p>
						</div>
						{% endif %}


						{% if eventAuto.getCentro|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">
							<p class="card-text text-md-center">
								<strong>
									Centro
								</strong>
								{{eventAuto.getCentro}}</p>
						</div>
						{% endif %}


						{% if eventAuto.getHorario|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">

							<p class="card-text text-md-center">
								<strong>
									Horario
								</strong>
								{{eventAuto.getHorario}}</p>
						</div>
						{% endif %}


					</div>

				</div>
			</div>


			{% set num = num + 1 %}

			{% endfor %}
		</div>

		<div class="tab-pane fade" id="nav-val" role="tabpanel" aria-labelledby="nav-val-tab">
			{% set numVal = 0 %}
			{% for eventVal in dataVal %}

			<div class="card eventos my-2">
				<div class="card-header text-left d-flex row m-0" data-toggle="collapse" href="#V{{numVal}}"
					role="button" aria-expanded="false" aria-controls="V{{numVal}}">

					<div class="float-left col-md-6 col-12">
						<i class="fas fa-calendar"></i>
						{{eventVal.getFechas}}
					</div>

					<div class="text-md-right text-left ml-auto col-md-6 col-12">
						<i class="fas fa-trophy"></i>
						{{eventVal.getCompeticion}}
					</div>


				</div>

				<div class="card-body collapse multi-collapse" id="V{{numVal}}">
					<div class="row text-left">
						{% if eventVal.getCategoria|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">
							<p class="card-text text-md-center">
								<strong>
									Categoria
								</strong>
								{{eventVal.getCategoria}}</p>
						</div>
						{% endif %}

						{% if eventVal.getLocalidad|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">
							<p class="card-text text-md-center">
								<strong>
									Localidad
								</strong>
								{{eventVal.getLocalidad}}</p>
						</div>
						{% endif %}


						{% if eventVal.getCentro|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">
							<p class="card-text text-md-center">
								<strong>
									Centro
								</strong>
								{{eventVal.getCentro}}</p>
						</div>
						{% endif %}


						{% if eventVal.getHorario|spaceless != ''  %}
						<div class="col-6 col-lg pb-4">

							<p class="card-text text-md-center">
								<strong>
									Horario
								</strong>
								{{eventVal.getHorario}}</p>
						</div>
						{% endif %}

					</div>
				</div>
			</div>

			{% set numVal = numVal + 1 %}
			{% endfor %}
		</div>
	</div>
</div>
</div>
{% endblock %}