{% extends 'layoutApp.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block main %}




{% if user.rol =='usuario' or user.rol =='entrenador' or user.rol == 'admin' %}
    

{% endif %}



{% if user.rol !='usuario' %}
    
<h1>Usuarios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apelllidos</th>
                <th>Foto</th>
                <th>FechaNac</th>
                <th>Grupo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>


            {% if user.rol == 'junta' or user.rol == 'admin' %}
                {% set filtro = '' %}
            {% endif %}

            {% if user.rol == 'entrenador' or user.rol == 'admin' %}
                {% set filtro = 'junta' %}
            {% endif %}

        {% for usuario in data["usuarios"] %}

            {% if usuario.rol.nombre != filtro and usuario.dni != user.dni %}
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apelllidos }}</td>
                <td>{{ usuario.rol.nombre }}</td>
                <td>{{ usuario.foto }}</td>
                <td>{{ usuario.fechaNac }}</td>
                <td>
                    <a href="{{ path('usuarios_show', {'dni': usuario.dni}) }}">show</a>
                    <a href="{{ path('usuarios_edit', {'dni': usuario.dni}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endif %}

{% endblock %}
