{% extends 'layoutApp.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block main %}


<h1>Listado Usuarios</h1>

    <table class="app-table">
        <thead>
            <tr>
                <th class="app-th">Nombre</th>
                <th class="app-th">Apelllidos</th>
                <th class="app-th">Foto</th>
                <th class="app-th">FechaNac</th>
                <th class="app-th">Grupo</th>
                <th class="app-th">actions</th>
            </tr>
        </thead>
        <tbody>


            {% if user.rol == 'junta' or user.rol == 'admin' %}
                {% set filtro = '' %}
            {% endif %}

            {% if user.rol == 'entrenador' or user.rol == 'admin' %}
                {% set filtro = 'junta' %}
            {% endif %}

        {% for usuario in data["usuarios"] %}

            {% if usuario.rol.nombre != filtro and usuario.dni != user.dni %}
            <tr>
                <td class="app-td">{{ usuario.nombre }}</td>
                <td class="app-td">{{ usuario.apelllidos }}</td>
                <td class="app-td">{{ usuario.rol.nombre }}</td>
                <td class="app-td">{{ usuario.foto }}</td>
                <td class="app-td">{{ usuario.fechaNac }}</td>
                <td class="app-td">
                    <a href="{{ path('usuarios_show', {'dni': usuario.dni}) }}">show</a>
                    <a href="{{ path('usuarios_edit', {'dni': usuario.dni}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
