{% extends 'base.html.twig' %}

{% block title %}Informacion{% endblock %}

{% block body %}
    <h1>Informacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ informacion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ informacion.fecha ? informacion.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ informacion.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ informacion.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('informacion_index') }}">back to list</a>

    <a href="{{ path('informacion_edit', {'id': informacion.id}) }}">edit</a>

    {{ include('informacion/_delete_form.html.twig') }}
{% endblock %}
