{% extends 'layoutApp.html.twig' %}

{% block title %}Edit Fisico{% endblock %}

{% block main %}
<button class="atras-button">
    <a class="atras-href" href="{{ path('app_noticias') }}">❮ Volver</a>
</button>

{{ form_start(form, {'attr':{'class':'border border-light p-5'} }) }}
<h3 class="mb-5 text-center">Editar noticia</h3>

<div class="row">
    <label for="">Nombre</label>
    {{ form_widget(form.nombre, {'attr':{'class':'form-control mb-4'} }) }}
</div>

<div class="row">
    <label for="">Descripción</label>
    {{ form_widget(form.descripcion, {'attr':{'class':'form-control mb-4'} }) }}
</div>

<button class="btn app-button-func1 btn-block">{{ button_label|default('Añadir') }}</button>

{{ form_end(form) }}
{% endblock %}
