{% extends 'base.html.twig' %}

{% block title %}Sesion{% endblock %}

{% block body %}
    <h1>Sesion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sesion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ sesion.fecha ? sesion.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HoraInicio</th>
                <td>{{ sesion.horaInicio ? sesion.horaInicio|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HoraFinal</th>
                <td>{{ sesion.horaFinal ? sesion.horaFinal|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sesion_index') }}">back to list</a>

    <a href="{{ path('sesion_edit', {'id': sesion.id}) }}">edit</a>

    {{ include('sesion/_delete_form.html.twig') }}
{% endblock %}
