{% extends 'layoutApp.html.twig' %}

{% block title %}Hello AddController!{% endblock %}

{% block main %}


<a href="{{ path('app_index') }}">Atrás</a>

<h1>Crear un usuario</h1>


<ul class="nav nav-tabs" id="myTab" role="tablist">

    {% for nombre in dataForm|keys %}

    <li class="nav-item">
        <a class="nav-link" id="{{nombre}}-tab" data-toggle="tab" href="#{{nombre}}" role="tab"
            aria-controls="{{nombre}}" aria-selected="true">{{nombre|upper}}</a>
    </li>

    {% endfor %}

</ul>
<div>

</div>
<div class="tab-content" id="myTabContent">

    
    <div class="tab-pane fade show active" id="usuario" role="tabpanel" aria-labelledby="usuario-tab">
            {{ form_start(dataForm['usuario'], {'attr':{'class':'needs-validation'} }) }}

            <label for="">DNI</label>
            {{ form_widget(dataForm['usuario'].dni, {'attr':{'class':'form-control'} }) }}
            <label for="">Password</label>
            {{ form_widget(dataForm['usuario'].pass, {'attr':{'class':'form-control'} }) }}
            <label for="">Nombre</label>
            {{ form_widget(dataForm['usuario'].nombre, {'attr':{'class':'form-control'} }) }}
            <label for="">Apellidos</label>
            {{ form_widget(dataForm['usuario'].apelllidos, {'attr':{'class':'form-control'} }) }}
            <label for="">Foto</label>
            {{ form_widget(dataForm['usuario'].foto, {'attr':{'class':'form-control'} }) }}
            <label for="">Fecha de nacimiento</label>
            {{ form_widget(dataForm['usuario'].fechaNac, {'attr':{'class':'form-control'} }) }}
            <label for="">Rol</label>
            {{ form_widget(dataForm['usuario'].rol, {'attr':{'class':'form-control'} }) }}
            
            <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
            {{ form_end(dataForm['usuario']) }}
    </div>



    <div class="tab-pane fade show" id="grupo" role="tabpanel" aria-labelledby="grupo-tab">
            {{ form_start(dataForm['grupo']) }}

            <label for="">Nombre grupo</label>
            {{ form_widget(dataForm['grupo'].nombre, {'attr':{'class':'form-control'} }) }}
            
            <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
            {{ form_end(dataForm['grupo']) }}
    </div>


</div>



{% endblock %}